<div class="w-full max-w-xs bg-white shadow-md p-8 mt-8">
  <h2 class="text-grey-900 text-md mb-8">
    Nearly there!
  </h2>
  <p>Hit the button below to confirm your account</p>
  <%= form_with model: @user,
      local: true,
      url: confirm_registration_submit_path,
      builder: FormBuilders::NiceFormBuilder do |form| %>
    <%= hidden_field_tag :token, @token %>
    <%= form.submit "Confirm Registration", class: "primary_button" %>
  <% end %>
</div>
