REGISTRATION_OPEN=true
SERVER_URL=http://localhost:3000
SERVER_HOST=localhost:3000
SMTP_FROM=test@example.com
SMTP_TEST_TO=test@example.com
SMTP_PASSWORD="1234567"
SMTP_ADDRESS=example.com
SMTP_AUTHENTICATION=tls
SMTP_ENABLE_STARTTLS=true
SMTP_USER_NAME=test
UPLOAD_FOLDER=uploads
SMTP_PORT=587