- content_for :title, "Linked Devices"
%section
  .page-header
    = page_heading("Linked Devices")
    %span
      = link_to 'Link New Device', new_linked_device_path, class: 'secondary_button ml-2'
  = render "list", linked_devices: @linked_devices