<% if show_tabs %>
  <ul class="nav-tabs">
    <% tabs.each do |tab| %>
      <% active = request.path.start_with?(tab[:url]) %>
      <li>
        <%= link_to tab[:display_name],
            tab[:url],
            class: active && "active"
        %>
      </li>
    <% end %>
  </ul>
<% end %>
