<% content_for :title, "All Events" %>
<section>
  <div class="flex justify-between mb-8">
    <%= page_heading("Events") %>
    <span>
      <% if Current.user.organiser? %>
        <%= link_to 'Add Event', new_event_path, class: 'secondary_button ml-2' %>
      <% end %>
    </span>
  </div>
  <%= render "list", events: @events %>
</section>
