- content_for :title, "Shared Items"
%section
  .flex.justify-between.mb-8
    = page_heading("Shared Items")
    %span
      - if Current.user.organiser?
        = link_to 'New Invite', new_permission_path, class: 'secondary_button ml-2'
        
  = render 'direct_permissions', permissions: @permissions
  %hr
  = render 'effective_permissions', items: @other_items
