<nav class="sub-nav">
  <ul class="sub-nav-tabs">
    <% @views.each do |view| %>
      <li>
        <%= link_to view.titlecase,
          url_for(view: view),
          class: "#{'active' if @view == view}" %>
      </li>
    <% end %>
  </ul>
</nav>
