.px-10.py-3.w-fit.inline-block
  = link_to image_tag("band_profile_placeholder.png", alt: band.name, class: 'h-32 m-1 border border-gray-200'), band_url(band)
  %p.text-center= link_to band.name, band_url(band)
