<section>
  <h1 class="my-4">
    <%= @band.name %>
  </h1>
  <pre><%= @band.description %></pre>
  <% if @band.members.any? %>
    <ul>
      <li><strong>Members:</strong></li>
      <% @band.members.each do |member| %>
        <li>
          <%= link_to member.name, member %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <% if @band.editable? %>
    <p>
      <%= link_to "Edit", edit_band_path(@band), class: "primary_button" %>
    </p>
  <% end %>
</section>
