%section
  - if @band.editable?
    .sm:flex.flex-row.justify-between.items-center.gap-4
      %h1.mb-4
        = "#{@band.name} Events"
      - url = url_for( controller: "events", action: "new", band_id: @band.id)
      - text = "Create event"
      = link_to text, url, class: "primary_button mb-4"
  - if @band.events.any?
    = render 'events/list', |
      band_id: @band.id, |
      path_helper: ->(options) { |
        band_path(@band, options.merge(view: 'events')) |
      } |
