%section
  - if @band.editable?
    %p.text-right
      - url = url_for( controller: "events", action: "new", band_id: @band.id)
      - text = "Create event for '#{@band.name}'"
      = link_to text, url, class: "primary_button"
  - if @band.events.any?
    = render 'events/list', |
      band_id: @band.id, |
      path_helper: ->(options) { |
        band_path(@band, options.merge(view: 'events')) |
      } |
