- content_for :title, "All Bands"
%section
  .flex.justify-between.mb-8
    = page_heading("Bands")
    %span
      = link_to 'Add Band', new_band_path, class: 'secondary_button ml-2'
  #bands.text-center
    - if Current.user.admin?
      %p
        = link_to "admin bands", admin_bands_path, class: "admin"
    = render @bands
