<% content_for :title, "All Bands" %>

<section>
  <div class="block w-4/5 items-right text-right">
    <%= link_to 'Add Band', new_band_path, class: "primary_button" %>
  </div>
  <div id="bands" class="text-center">
    <% if Current.user.admin? %>
      <p>
        <%= link_to "admin bands", admin_bands_path, class: "admin" %>
      </p>
    <% end %>
    <%= render @bands %>
  </div>
</section>
